
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
<!-- Simple bar CSS -->
<link rel="stylesheet" th:href="@{/admin/css/simplebar.css}">
<!-- Fonts CSS -->
<link
	href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">
<!-- Icons CSS -->
<link rel="stylesheet" th:href="@{/admin/css/feather.css}">
<!-- Date Range Picker CSS -->
<link rel="stylesheet" th:href="@{/admin/css/daterangepicker.css}">
<!-- App CSS -->
<link rel="stylesheet" th:href="@{/admin/css/app-light.css}"
	id="lightTheme">
<link rel="stylesheet" th:href="@{/admin/css/app-dark.css}"
	id="darkTheme" disabled>
</head>
<body class="light ">
	<div class="wrapper vh-100">
		<div class="row align-items-center h-100">
			
			
			<form class="col-lg-6 col-md-8 col-10 mx-auto" method="post" th:action="@{/log/register}">
			 <div class="mx-auto text-center my-4">
					<h2 class="my-3">Register</h2>
				</div>
				<div class="form-group">
					<label for="inputEmail4">Email</label> <input type="email"
						class="form-control" id="inputEmail4" th:field="${account.email}">
				</div>
				<hr class="my-4">
				<div class="row mb-4">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputPassword5">New Password</label> <input
								type="password" class="form-control" id="inputPassword5" name="newPassword">
						</div>
						<div class="form-group">
							<label for="inputPassword6">Confirm Password</label> <input
								type="password" class="form-control" id="inputPassword6" name="confirmPassword">
						</div>
						
					</div>
					<div class="col-md-6">
						<p class="mb-2">Password requirements</p>
						<p class="small text-muted mb-2">To create a new password, you
							have to meet all of the following requirements:</p>
						<ul class="small text-muted pl-4 mb-0">
							<li>Minimum 8 character</li>
							<li>At least one special character</li>
							<li>At least one number</li>
							<li>Can’t be the same as a previous password</li>
						</ul>
					</div>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
					up</button>
				<p class="mt-5 mb-3 text-muted text-center">© 2024</p>
			</form>
		</div>
	</div>
	<script th:src="@{/admin/js/jquery.min.js}"></script>
	<script th:src="@{/admin/js/popper.min.js}"></script>
	<script th:src="@{/admin/js/moment.min.js}"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>
	<script th:src="@{/admin/js/simplebar.min.js}"></script>
	<script th:src="@{/admin/js/daterangepicker.js}"></script>
	<script th:src="@{/admin/js/jquery.stickOnScroll.js}"></script>
	<script th:src="@{/admin/js/tinycolor-min.js}"></script>
	<script th:src="@{/admin/js/config.js}"></script>
	<script th:src="@{/admin/js/apps.js}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
	<script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
	<!-- Code injected by live-server -->
	<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>