<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/admin :: content('Edit Table',~{this :: .aaa})}">

<head>
	<title th:text="${title}"></title>


</head>

<body>

	<div class="aaa">
		<div class="row">
			<div class="col-md-12">
				<div class="card shadow mb-4">
					<div class="card-header">
						<strong class="card-title">Edit Table</strong>
					</div>
					<div class="card-body">
						<form method="post" th:action="@{/admin/table/edit}">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" th:field="${table.name}" id="inputAddress5">
							</div>
							<div class="form-group">
								<div class="form-group mb-3">
									<label for="example-select">Branchs</label>
									<select th:field="${table.branchs.id}" class="form-control" id="example-select">
										<option th:each="branchs : ${branch}" th:value="${branchs.id}"
											th:text="${branchs.name}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="inputAddress2">Tabel Type</label>
								<select th:field="${table.tableType}" class="form-control" id="example-select">
									<option value="Small Tabel">Small Table</option>
									<option value="Medium Table">Medium Table</option>
									<option value="Large Table">Large Table</option>
									<option value="VIP">VIP</option>

								</select>
							</div>
							<div class="form-group">
								<label for="inputAddress2"> Number Seat</label>
								<input type="number" class="form-control" th:field="${table.numberOfSeat}"
									id="inputAddress6">
							</div>
							<div class="col-md-12 mx-auto mb-4">
								<p class="mb-3">Status</p>
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input"
										id="customSwitch1" name="status" th:checked="${table.status == '1'}">
									<label class="custom-control-label" for="customSwitch1">Active</label>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Edit</button>
							<input type="hidden" th:field="${table.id}">
						</form>
					</div> <!-- /. card-body -->
				</div> <!-- /. card -->
			</div>
		</div>
	</div>
</body>

</html>