<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/admin :: content('Edit user',~{this :: .aaa})}">

<head>
<title th:text="${title}"></title>


</head>

<body>

	<div class="aaa">
		<div class="row">
		<div class="col-md-12" th:if="${msg}">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong th:text="${msg}">Holy guacamole!</strong>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card shadow mb-4">
					<div class="card-header">
						<strong class="card-title">Edit user</strong>
					</div>
					<div class="card-body">
						<form class="needs-validation" novalidate method="post"
							th:action="@{/admin/user/edit}">
							<div class="form-group">
								<label>First Name</label> <input type="text"
									class="form-control" th:field="${user.firstName}"
									aria-describedby="emailHelp" required="">
								<div class="invalid-feedback">Please enter first name</div>
							</div>
							<div class="form-group">
								<label>Last Name</label> <input type="text"
									class="form-control" th:field="${user.lastName}"
									aria-describedby="emailHelp" required="">
								<div class="invalid-feedback">Please enter last name</div>
							</div>
							<div class="form-group">
								<label>Phone Number</label> <input type="text"
									class="form-control" th:field="${user.phoneNumber}"
									aria-describedby="emailHelp" required="">
								<div class="invalid-feedback">Please enter phone number</div>
							</div>
							<div class="form-group">
								<label>Birthday</label> <input type="text"
									class="form-control" th:field="${user.birthday}"
									aria-describedby="emailHelp" required="">
								<div class="invalid-feedback">Please enter birthday</div>
							</div>
							<div class="form-group mb-3">
								<label for="example-select">Gender</label>
								<select class="form-control" id="example-select" th:field="${user.gender}">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									<option value="Other">Other</option>
								</select>
							</div>
							
							<div class="form-row" th:if="${user.id != 1}">
								<div class="col-md-4 mb-4">
									<label for="example-select">Role</label> <select
										th:field="${user.account.id}" class="form-control select2">
										<option th:each="account : ${accounts}" th:value="${account.id}"
											th:text="${account.email}"></option>
									</select>
								</div>
							</div>
							<div th:if="${user.id == 1}">
							<input type="hidden" th:text="${sa}" th:field="${user.account.id}">
							</div>
						

							<button type="submit" class="btn btn-primary">Edit</button>

							<input type="hidden" th:field="${user.id}"> 
						</form>
					</div>
					<!-- /. card-body -->
				</div>
				<!-- /. card -->
			</div>
		</div>
	</div>
</body>

</html>