<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/admin :: content('List Account',~{this :: .aaa})}">

<head>
<title th:text="${title}"></title>

</head>

<body>

	<div class="aaa">
		<div col-12>
			<h2 class="mb-2 page-title">List Account</h2>
			
			<div class="row my-4">
			<div class="col-md-12" th:if="${msg}">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong th:text="${msg}">Holy guacamole!</strong>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
				<!-- Small table -->
				<div class="col-md-12">
					<div class="card shadow">

						<div class="card-body">
							<!-- table -->
							<div id="dataTable-1_wrapper"
								class="dataTables_wrapper dt-bootstrap4 no-footer">

								<div class="row">
									<div class="col-sm-12">
									<a th:href="@{/admin/account/add}"><button class="btn btn-primary float-right ml-3" type="button">Add
											more +</button></a>
									
										<table class="table datatables dataTable no-footer"
											id="dataTable-1" role="grid"
											aria-describedby="dataTable-1_info">
											<thead class="thead-dark">
												<tr role="row">
													
													<th class="sorting" tabindex="0"
														aria-controls="dataTable-1" rowspan="1" colspan="1"
														aria-label="#: activate to sort column ascending"
														style="width: 9.5625px;">Id</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTable-1" rowspan="1" colspan="1"
														aria-label="Name: activate to sort column ascending"
														style="width: 93.075px;">Email</th>
													
													<th class="sorting" tabindex="0"
														aria-controls="dataTable-1" rowspan="1" colspan="1"
														aria-label="Department: activate to sort column ascending"
														style="width: 124.65px;">Status</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTable-1" rowspan="1" colspan="1"
														aria-label="Company: activate to sort column ascending"
														style="width: 69.2px;">Role</th>
												
													<th class="sorting" tabindex="0"
														aria-controls="dataTable-1" rowspan="1" colspan="1"
														aria-label="City: activate to sort column ascending"
														style="width: 96.9625px;">More</th>

												</tr>
											</thead>
											<tbody>

												<tr role="row" class="odd" th:each="account : ${accounts}">
													
													<td th:text="${account.id}"></td>
													<td th:text="${account.email}"></td>
													<td th:if="${account.status == '1'}"><span
														class="badge badge-pill badge-success">Active</span></td>
													<td th:if="${account.status == '0'}"><span
														class="badge badge-pill badge-warning">Inactive</span></td>


													<td th:text="${account.role.name}"></td>


													<td>
														<div class="dropdown">
															<button class="btn btn-sm dropdown-toggle more-vertical"
																type="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="text-muted sr-only">Action</span>
															</button>
															<div class="dropdown-menu dropdown-menu-right" style="">
															<a class="dropdown-item"
																	th:href="@{'/admin/branch/view/' + ${account.id} } ">
																	<button type="button"
																		class="btn mb-2 btn-outline-warning">View Branch</button>
																</a>
																<a class="dropdown-item"
																	th:href="@{'/admin/account/edit/' + ${account.id} }" 
																	th:if="${account.role.name != 'ROLE_SUPER_ADMIN' || account.role.name == 'ROLE_ADMIN'}">
																	<button type="button"
																		class="btn mb-2 btn-outline-success">Edit</button>
																</a> <a class="dropdown-item"
																	th:href="@{'/admin/account/delete/' + ${account.id} } " >
																	<button type="button"
																		class="btn mb-2 btn-outline-danger">Remove</button>
																</a> 
																<a class="dropdown-item"
																	th:href="@{'/admin/account/updatePassword/' + ${account.id} } ">
																	<button type="button"
																		class="btn mb-2 btn-outline-warning">Change
																		Password</button>
																</a>
															</div>
														</div>
													</td>
												</tr>

											</tbody>
										</table>
										
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>
				<!-- simple table -->
			</div>
			<!-- end section -->

		</div>

	</div>


</body>

</html>