<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/admin :: content('Add Account',~{this :: .aaa})}">

<head>
<title th:text="${title}"></title>


</head>

<body>

	<div class="aaa">
		<div class="row">
			<div class="col-md-12" th:if="${msg}">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong th:text="${msg}">Holy guacamole!</strong>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card shadow mb-4">
					<div class="card-header">
						<strong class="card-title">Add Account</strong>
					</div>
					<div class="card-body">
						<form class="needs-validation" novalidate method="post"
							th:action="@{/admin/account/updatePassword}">


							<div class="form-group">
								<label>Current Password</label> <input type="password"
									class="form-control" name="currentPassword" required="">
								<div class="invalid-feedback">Enter Current Password</div>
							</div>

							<div class="form-group">
								<label>New Password</label> <input type="password"
									class="form-control" name="newPassword" required="">
								<div class="invalid-feedback">Enter New Password</div>
							</div>

							<div class="form-group">
								<label>Confirm Password</label> <input type="password"
									class="form-control" name="confirmPassword" required="">
								<div class="invalid-feedback">Enter Confirm Password</div>
							</div>




							<button type="submit" class="btn btn-primary">Update</button>
							<input type="hidden" th:field="${account.id}"> <input
								type="hidden" th:field="${account.email}"> <input
								type="hidden" th:field="${account.status}"> <input
								type="hidden" th:field="${account.role.id}">
						</form>
					</div>
					<!-- /. card-body -->
				</div>
				<!-- /. card -->
			</div>
		</div>
	</div>
</body>

</html>