<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="content(title, mainContent)"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/user/assets/css/config.css}" />
	<link rel="stylesheet" th:href="@{/user/assets/css/style.css}" />
	<link rel="stylesheet" th:href="@{/user/assets/fontawesome-free-6.5.1-web/css/all.min.css}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>
	<div class="app bg-white">
		<header>
			<nav class="nav-top flex">
				<div class="container">
					<div class="wrapper flex">
						<a class="nav-top_logo" href="">
							<span class="logo"></span>
						</a>
						<ul class="flex justify-start-items-center menu">
							<li class="menu-item"><a href=""> Gần bạn </a></li>
							<li class="menu-item"><a href=""> Bộ sưu tập </a></li>
							<li class="menu-item">
								<a href="#">
									Ăn uống
									<span class="icon-menudown"></span>
								</a>
								<div class="menu-item_dropdown shadow">
									<div class="container">
										<ul class="menu-children">
											<li class="menu-children-item">
												<a href="">Nhà hàng</a>
											</li>
											<li class="menu-children-item">
												<a href="">Lẩu</a>
											</li>
											<li class="menu-children-item">
												<a href="">Buffet</a>
											</li>
											<li class="menu-children-item">
												<a href="">Lẩu & Nướng</a>
											</li>
											<li class="menu-children-item">
												<a href="">Quán Nhậu</a>
											</li>
											<li class="menu-children-item">
												<a href="">Hải sản</a>
											</li>
											<li class="menu-children-item">
												<a href="">Món chay</a>
											</li>
											<li class="menu-children-item">
												<a href="">Đặt tiệc</a>
											</li>
											<li class="menu-children-item">
												<a href="">Món chay</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Hàn Quốc</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Nhật Bản</a>
											</li>
											<li class="menu-children-item">
												<a href="">Món Âu</a>
											</li>
											<li class="menu-children-item">
												<a href="">Món Việt</a>
											</li>
											<li class="menu-children-item">
												<a href="">Món Thái</a>
											</li>
											<li class="menu-children-item">
												<a href="">Món Trung Hoa</a>
											</li>
											<li class="menu-children-item">
												<a href="">Tiệc cưới</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="menu-item"><a href=""> Ưu đãi hot </a></li>
							<li class="menu-item"><a href=""> Mới nhất </a></li>
							<li class="menu-item"><a href=""> Bộ sưu tập </a></li>
							<li class="menu-item"><a href=""> Bộ sưu tập </a></li>
							<li class="menu-item">
								<a href="#">
									Tin tức & Blog
									<span class="icon-menudown"></span>
								</a>
								<div class="menu-item_dropdown shadow">
									<div class="container">
										<ul class="menu-children">
											<li class="menu-children-item">
												<a href=""> Tất cả</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Địa Điểm</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Ăn Uống</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Món ngon & Công thức</a>
											</li>
											<li class="menu-children-item">
												<a href="">Đặc sản vùng miền</a>
											</li>
											<li class="menu-children-item">
												<a href="">Tiệc & Tổ chức tiệc</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Kinh doanh ăn uống</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Sức khỏe & Làm đẹp</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Bên lề ẩm thực</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Dinh dưỡng</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="menu-item">
								<a href="#">
									Video PasGo
									<span class="icon-menudown"></span>
								</a>
								<div class="menu-item_dropdown shadow">
									<div class="container">
										<ul class="menu-children">
											<li class="menu-children-item">
												<a href="">Tất cảKý sự</a>
											</li>
											<li class="menu-children-item">
												<a href="">Nhà hàng</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Ăn Uống</a>
											</li>
											<li class="menu-children-item">
												<a href=""> Món ngon</a>
											</li>
											<li class="menu-children-item">
												<a href="">Chuyện nhặt</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-top-right flex">
							<div class="account dropdowns">
								<a class="flex" href="">
									<i class="fa-solid fa-user icon"></i>
									<span> Tài khoản </span>
								</a>
								<div class="dropdowns-show acount-children">
									<div class="item">
										<a href="" class="btn btn-login">Đăng nhập</a>
									</div>
									<div class="item">
										<a class="account-item_link" href="">Thanh viên mới</a>
									</div>
									<div class="item">
										<a href="" class="btn btn-login">Đăng ký</a>
									</div>
								</div>
							</div>
							<div class="nav-top_serach">
								<input type="text" placeholder="Tìm: Buffet, Lẩu, Nướng..." />
								<button class="btn nav-top_serach-btn">
									<i class="fa-solid fa-magnifying-glass"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<nav class="nav-bottom">
				<div class="container">
					<div class="wrapper">
						<div class="gird grid-cols-6">
							<div class="col-span-5">
								<div class="search">
									<div class="location">
										<i class="fa-solid fa-location-dot icon"></i>
										<select class="select">
											<option value="">Hồ chí minh</option>
											<option value="">Hồ chí minh</option>
											<option value="">Hồ chí minh</option>
											<option value="">Hồ chí minh</option>
										</select>
									</div>
									<input type="text" placeholder="Buffet, Lẩu & Nướng, Hải sản..." />
									<div class="search-right">
										<select class="select">
											<option value="">Hồ chí minh</option>
											<option value="">Hồ chí minh</option>
											<option value="">Hồ chí minh</option>
											<option value="">Hồ chí minh</option>
										</select>
										<button class="btn-search btn">
											<i class="fa-solid fa-magnifying-glass"></i>
											Tim kiếm
										</button>
									</div>
								</div>
							</div>
							<div class="phone-number">
								<span class="icon-phone"></span>
								1900 6005
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div th:replace="${mainContent}"></div>
		<div class="footer-end">
			<h4>
				<span> © Copyright 2010 PasGo.jsc, All rights reserved</span>
			</h4>
			<div class="link-company">
				<a href="http://online.gov.vn/Home/WebDetails/16887" rel="nofollow" target="_blank">CÔNG TY CỔ PHẦN
					PASGO</a>
			</div>
			<p>
				Văn phòng Hà Nội: Tầng 2 tòa nhà VTC Online, Số 18 Tam Trinh, Q.
				Hai Bà Trưng, ​​Hà Nội
			</p>
			<p>
				Văn Phòng TP.HCM: Lầu 13, Tòa nhà M-H, Số 728-730 Võ Văn Kiệt,
				P.1, Quận 5, TP Hồ Chí Minh
			</p>
			<p>
				Tổng đài: 1900 6005 | Email:<a style="color: #333333" href="mailto:cskh@pasgo.vn">
					CSKH@pasgo.vn</a>
			</p>
			<p>
				Mã số doanh nghiệp: 0106329034 do Sở Kế hoạch đầu tư TP Hà Nội cấp
				ngày 08/10/2013
			</p>
			<div class="wap-help">
				<p>
					Mọi ý tưởng, đóng góp của bạn đều được chúng tôi ghi nhận và
					trân trọng!
				</p>
				<div class="wap-help-link">
					<a class="button-support btn" href="https://forms.gle/bbDhcKDfLSQg6eog8">
						<svg width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
							stroke-width="1.5" stroke="currentColor" class="button-support-icon">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5">
							</path>
						</svg>
						<span class="button-support-text">Gửi góp ý</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	</footer>
	</div>
</body>
<script th:src="@{/user/assets/js/main.js}"></script>

<script>
	$(function () {
		$("#datepicker").datepicker({
			dateFormat: 'dd-mm-yy'
		});
	});
</script>
<script>
	$(function () {
		$("#datepicker1").datepicker({
			dateFormat: 'dd-mm-yy'
		});
	});
</script>

</html>


</html>