<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/user :: content('HomePage',~{this :: .aaa})}">

<head>
	<title th:text="${title}"></title>

</head>

<body>
	<div class="aaa">
		<div class="wapper-desktop">
			<div class="container-sm py-2xl">
				<a th:href="@{/account/edit}">ppp</a>
				<h2 class="title">Danh mục</h2>
				<div class="category-product">
					<div class="slider">
						<div class="btn-prev">
							<button class="btn-slider-md btn">
								<svg xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
									stroke-linecap="round" stroke-linejoin="round" style="transform: rotate(180deg)">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M19 12l-14 0"></path>
									<path d="M19 12l-4 4"></path>
									<path d="M19 12l-4 -4"></path>
								</svg>
							</button>
						</div>
						<div class="slider-content">
							<div class="slider-category slider-wrapper">

								<div th:each="category : ${categories}" class="slider-item catogry-item">
									<div class="catogry-item__header">
										<div class="image">
											<a th:href="@{'/category/index/' + ${category.id} }">
												<img src="https://pastaxi-manager.onepas.vn/Upload/DanhMucHienThi/Avatar/638036438488453397-lau-pasgo.vn.png?Width=70&Type=webp"
													alt="" />
											</a>
										</div>
									</div>
									<p th:text="${category.name}"></p>
								</div>

							</div>
						</div>
						<div class="btn-next">
							<button class="btn-slider-md btn">
								<svg xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
									stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M5 12l14 0"></path>
									<path d="M15 16l4 -4"></path>
									<path d="M15 8l4 4"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="wapper-desktop bg-body-primary">
			<div class="container-sm py-2xl">
				<div class="wrapper-header">
					<div class="flex justify-between-items-center">
						<h2 class="title">
							Top nhà hàng phù hợp ĐẶT TIỆC 8/3 cho CÔNG TY
						</h2>
						<a href="" class="link-more">Xem tất cả</a>
					</div>
					<p class="sub-title">
						Không gian check-in đẹp. Phòng riêng đa dạng sức chứa. Nhiều ưu
						đãi hấp dẫn.
					</p>
				</div>
				<div class="wrapper-content">
					<div class="slider">
						<div class="btn-prev">
							<button class="btn-slider-md btn">
								<svg xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
									stroke-linecap="round" stroke-linejoin="round" style="transform: rotate(180deg)">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M19 12l-14 0"></path>
									<path d="M19 12l-4 4"></path>
									<path d="M19 12l-4 -4"></path>
								</svg>
							</button>
						</div>
						<div class="slider-content">
							<div class="slider-wrapper">
								<div th:each="branch : ${branchs}" class="slider-item slider_item">
									<div class="card">
										<a th:href="@{'/branch/details/' + ${branch.id}}" 
											class="card_link">
											<div class="card_header">
												<img th:src="@{'/images/' + ${branch.image}}">
												<div class="item-sticker">
													<span class="text-sticker">Được đề xuất</span>
												</div>
											</div>
											<div class="card_body">
												<h3 th:text="${branch.name}"></h3>

												<div class="sale">
													<p class="name-restaurant">Address:</p>
													<p th:text="${branch.address}"></p>
												</div>
											</div>
										</a>
									</div>
								</div>

							</div>
						</div>
						<div class="btn-next">
							<button class="btn-slider-md btn">
								<svg xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
									stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M5 12l14 0"></path>
									<path d="M15 16l4 -4"></path>
									<path d="M15 8l4 4"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>